

img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.navbar{
    background-color: grey;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;

    
}

.nav{
   display: flex;
   gap:50px;
   font-size: 25px;
   font-family: Courier;
   width: 400px;
   height: 400x;
}

a{
    color: #F9FAF8;
}

.family{ 
    background-color: #404040;
    height:500px;
    margin-top: -50px;
    display:flex;
    justify-content:center;
}

.caraxes{
    width:200px;
    height:300px;
}

